Referencias/Sistemas operacionais de tempo real e sua aplicação em -- Gustavo Weber Denardin, Carlos Henrique Barriquello -- 1, 2019 -- Editora Edgard Blucher -- isbn13 9788521213963.pdf
Referencias/Controle digital aplicado.pdf
